<h1>Login</h1>

<%= form_for @conn, Routes.session_path(@conn, :create), [as: :session], fn f -> %>
  <%= label f, :username %>
  <%= text_input f, :username %>
  <%= error_tag f, :username %>

  <%= label f, :password %>
  <%= password_input f, :password %>
  <%= error_tag f, :password %>

  <%= submit "Log In" %>
<% end %>
