<h1>Edit Lesson</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.lesson_path(@conn, :update, @lesson)) %>

<span><%= link "Back", to: Routes.lesson_path(@conn, :show, @lesson) %></span>
