<h1>Quizzes</h1>

<table class="uk-table">
  <thead>
    <tr>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= for lesson <- @lessons do %>
    <tr>
      <td><%= lesson.title %></td>

      <td>
        <%= link "Show", to: Routes.lesson_path(@conn, :show, lesson) %>
        |
        <%= link "Delete", to: Routes.lesson_path(@conn, :delete, lesson), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link "New Quiz", to: Routes.lesson_path(@conn, :new), class: "uk-button uk-button-primary" %>
