<h1><%= @lesson.title %></h1>

<p>
  <strong>Description:</strong>
  <%= @lesson.information %>
</p>

<%= link "Edit", to: Routes.lesson_path(@conn, :edit, @lesson), class: "uk-button uk-button-default uk-button-small" %>&nbsp;
<%= link "Back", to: Routes.lesson_path(@conn, :index), class: "uk-button uk-button-default uk-button-small" %>

<h2>Questions</h2>

<%= link "New Question", to: Routes.lesson_question_path(@conn, :new, @lesson), class: "uk-button uk-button-primary" %>

<ol>
<%= for question <- @lesson.questions do %>
  <li>
    <%= question.question %>
    <%= link "Show", to: Routes.lesson_question_path(@conn, :show, @lesson, question) %>
    |
    <%= link "Delete", to: Routes.lesson_question_path(@conn, :delete, @lesson, question), method: :delete, data: [confirm: "Are you sure?"] %>
  </li>
<% end %>
</ol>

<%= link "New Question", to: Routes.lesson_question_path(@conn, :new, @lesson), class: "uk-button uk-button-primary" %>
