<h1>Edit Component</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.lesson_question_component_path(@conn, :update, @lesson, @question, @component)) %>

<span><%= link "Back", to: Routes.lesson_question_path(@conn, :show, @lesson, @question) %></span>
