<h1>Listing Components</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Type</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for component <- @components do %>
    <tr>
      <td><%= component.content %></td>
      <td><%= component.type %></td>

      <td>
        <%= link "Show", to: Routes.lesson_question_path(@conn, :show, @lesson, @question) %>
        <%= link "Edit", to: Routes.lesson_question_component_path(@conn, :edit, @lesson, @question, component) %>
        <%= link "Delete", to: Routes.lesson_question_component_path(@conn, :delete, @lesson, @question, component), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Component", to: Routes.lesson_question_component_path(@conn, :new, @lesson, @question) %></span>
