<h1>Show Component</h1>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @component.content %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @component.type %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.lesson_question_component_path(@conn, :edit, @lesson, @question, @component) %></span>
<span><%= link "Back", to: Routes.lesson_question_path(@conn, :show, @lesson, @question) %></span>
