<h1>Edit Question</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.lesson_question_path(@conn, :update, @lesson, @question)) %>

<span><%= link "Back", to: Routes.lesson_question_path(@conn, :show, @lesson, @question) %></span>
