<%= form_for @changeset, @action, [class: "uk-form-stacked"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="uk-margin">
    <%= label f, :question, class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= textarea f, :question, class: "uk-textarea" %>
    </div>
    <%= error_tag f, :question %>
  </div>

  <div class="uk-margin">
    <%= submit "Save", class: "uk-button uk-button-primary" %>
  </div>
<% end %>
