<h1>New Question</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.lesson_question_path(@conn, :create, @lesson)) %>

<span><%= link "Back", to: Routes.lesson_path(@conn, :show, @lesson) %></span>
