<h1><%= @lesson.title %></h1>
<h3>Question:</h3>
<div class="uk-text-large uk-margin"><%= @question.question %></div>

<%= link "Edit", to: Routes.lesson_question_path(@conn, :edit, @lesson, @question), class: "uk-button uk-button-default uk-button-small" %>&nbsp;
<%= link "Back", to: Routes.lesson_path(@conn, :show, @lesson), class: "uk-button uk-button-default uk-button-small" %>

<h3>Items:</h3>

<table class="uk-table">
  <thead>
    <tr>
      <th>Content</th>
      <th>Type</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
      <%= for component <- @question.components do %>
          <tr>
            <td><%= component.content %></td>
            <td><%= component.type %></td>

            <td>
              <%= link "Edit", to: Routes.lesson_question_component_path(@conn, :edit, @lesson, @question, component) %>
              |
              <%= link "Delete", to: Routes.lesson_question_component_path(@conn, :delete, @lesson, @question, component), method: :delete, data: [confirm: "Are you sure?"] %>
            </td>
          </tr>
      <% end %>
  </tbody>
</table>

<%= link "New Item", to: Routes.lesson_question_component_path(@conn, :new, @lesson, @question), class: "uk-button uk-button-primary" %>
