<%= form_for @changeset, @action, [class: "uk-form-stacked"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="uk-margin">
    <%= label f, :name, class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= text_input f, :name, class: "uk-input uk-form-width-large" %>
    </div>
    <%= error_tag f, :name %>
  </div>

  <div class="uk-margin">
    <%= label f, :birthdate, class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= date_select f, :birthdate, year: [options: 1920..2020, class: "uk-select uk-form-width-small"], month: [class: "uk-select uk-form-width-small"], day: [class: "uk-select uk-form-width-small"] %>
  </div>
    <%= error_tag f, :birthdate %>
  </div>

  <div class="uk-margin">
    <%= label f, :role, class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= select f, :role, ["Student": "student", "Teacher": "teacher", "Admin": "admin"], class: "uk-select uk-form-width-large" %>
    </div>
    <%= error_tag f, :role %>
  </div>

  <%= inputs_for f, :credential, fn cf -> %>
    <div class="uk-margin">
      <%= label cf, :username, class: "uk-form-label" %>
      <div class="uk-form-controls">
        <%= text_input cf, :username, class: "uk-input uk-form-width-large" %>
      </div>
      <%= error_tag cf, :username %>
    </div>

    <div class="uk-margin">
      <%= label cf, :password, class: "uk-form-label" %>
      <div class="uk-form-controls">
        <%= password_input cf, :password, class: "uk-input uk-form-width-large" %>
      </div>
      <%= error_tag cf, :password %>
    </div>
  <% end %>

  <div class="uk-margin">
    <%= submit "Save", class: "uk-button uk-button-primary" %>
  </div>
<% end %>
