<h1>Users</h1>

<table class="uk-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= for user <- @users do %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.birthdate %></td>
      <td><%= user.role %></td>

      <td>
        <%= link "Show", to: Routes.user_path(@conn, :show, user) %>
        |
        <%= link "Delete", to: Routes.user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<span><%= link "New User", to: Routes.user_path(@conn, :new), class: "uk-button uk-button-primary" %></span>
