<h1><%= @user.name %></h1>
    
<ul class="uk-list">

  <li>
    <strong>Birthdate:</strong>
    <%= @user.birthdate %>
  </li>

  <li>
    <strong>Role:</strong>
    <%= @user.role %>
  </li>

</ul>

<%= link "Edit", to: Routes.user_path(@conn, :edit, @user), class: "uk-button uk-button-default uk-button-small" %>&nbsp;
<%= link "Back", to: Routes.user_path(@conn, :index), class: "uk-button uk-button-default uk-button-small" %>
