<h1>Edit Student quiz</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.student_quiz_path(@conn, :update, @student_quiz)) %>

<span><%= link "Back", to: Routes.student_quiz_path(@conn, :index) %></span>
