<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :student_id %>
  <%= number_input f, :student_id %>
  <%= error_tag f, :student_id %>

  <%= label f, :quiz_id %>
  <%= number_input f, :quiz_id %>
  <%= error_tag f, :quiz_id %>

  <%= label f, :assigned_by %>
  <%= number_input f, :assigned_by %>
  <%= error_tag f, :assigned_by %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
