<h1>Listing Student quizzes</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Quiz</th>
      <th>Assigned by</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for student_quiz <- @student_quizzes do %>
    <tr>
      <td><%= student_quiz.student_id %></td>
      <td><%= student_quiz.quiz_id %></td>
      <td><%= student_quiz.assigned_by %></td>

      <td>
        <%= link "Show", to: Routes.student_quiz_path(@conn, :show, student_quiz) %>
        <%= link "Edit", to: Routes.student_quiz_path(@conn, :edit, student_quiz) %>
        <%= link "Delete", to: Routes.student_quiz_path(@conn, :delete, student_quiz), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Student quiz", to: Routes.student_quiz_path(@conn, :new) %></span>
