<h1>New Student quiz</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.student_quiz_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.student_quiz_path(@conn, :index) %></span>
