<h1>Show Student quiz</h1>

<ul>

  <li>
    <strong>Student:</strong>
    <%= @student_quiz.student_id %>
  </li>

  <li>
    <strong>Quiz:</strong>
    <%= @student_quiz.quiz_id %>
  </li>

  <li>
    <strong>Assigned by:</strong>
    <%= @student_quiz.assigned_by %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.student_quiz_path(@conn, :edit, @student_quiz) %></span>
<span><%= link "Back", to: Routes.student_quiz_path(@conn, :index) %></span>
